@tailwind base;
@tailwind components;
@tailwind utilities;

.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
	display: none;
}

.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translate(-6px);
}

